environments:
  istio: &I
    values:
      - ../common/gateway-configurations/istio.yaml
  kgateway: &KG
    values:
      - ../common/gateway-configurations/kgateway.yaml
  gke: &GKE
    values:
      - ../common/gateway-configurations/gke.yaml
  default:
    <<: *I

---

{{- $ns := (env "NAMESPACE") | default "llm-d-inference-scheduler" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "inference-scheduling" -}}

# set $ns as namespace for all releases
namespace: {{ $ns }}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/
  - name: llm-d-infra
    url: https://llm-d-incubation.github.io/llm-d-infra/

releases:
  - name: {{ printf "infra-%s" $rn | quote }}
    chart: llm-d-infra/llm-d-infra
    version: v1.2.4
    installed: true
    labels:
      type: infrastructure
      kind: inference-stack
    values:
      - {{ .Environment.Values | toYaml | nindent 8  }}
      - gateway:
          destinationRule:
            host: {{ printf "gaie-inference-scheduling-epp.%s.svc.cluster.local" $ns | quote }}

  - name: {{ printf "gaie-%s" $rn | quote }}
    chart: oci://registry.k8s.io/gateway-api-inference-extension/charts/inferencepool
    version: v0.5.1
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
    values:
      - gaie-inference-scheduling/values.yaml
    {{- if eq .Environment.Name "gke" }}
      - provider: {{ .Environment.Values.provider }}
    {{- end }}
    labels:
      kind: inference-stack

  - name: {{ printf "ms-%s" $rn | quote }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.2.7
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
      - {{ printf "gaie-%s" $rn | quote }}
    values:
      - ms-inference-scheduling/values.yaml
    labels:
      kind: inference-stack
